<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container">
    {{{body}}}
  </div>
</body>

<script type="text/javascript" >
  function trendingSubmit() {
    let form = document.getElementById("trending-form");
    form.reset();
    form.submit();
  }
</script>
</html>
